/* reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size:16px;
}

/* login containet */
.login-container {
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url(./Assests/Fingerprint-cuate\ \(1\).png);
  background-size: 50%;
  background-position-x: right;
  background-color: aliceblue;
  background-repeat: no-repeat;
}
/* login-form */
.login-form {
  padding: 30px;
  margin-right: 15rem;
  background:none; 
  box-shadow: 1px 1px 10px gray;
}

form{
  padding: 10px; 
}
input{
  display: block;
  padding: 10px;
  margin: 10px 10px 10px 0;
}
label{
  font-size: large;
  margin: 10px 0 10px 0;
}
.btn{
  padding: 10px;
  font-size: large;
  background-color: rgba(0, 0, 255, 0.836);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0 0 4rem;
}
.btn:hover{
  background-color: blue;
  
}
.login-links{
  display: flex;
  justify-content: space-around;
  font-size: medium;
  margin-top: 10px;
}
a{
  text-decoration: none;
  color: black;
}

ul li{
  list-style: none;
  position: relative;
  padding-bottom: 5px;
}
ul li::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; 
  width: 0; 
  background-color: black; 
  transition: width 0.3s ease-in-out;
}
ul li:hover::after {
  width: 100%; 
  
}
